.fondo{
    background-color: #0E3667;
}

#m{
    margin-top:80px;
    color:red;
}

#padding-imagen{
    padding-bottom: 10px;
}

.txt-color{
    color: #0E3667;
}

#txt-color{
    color: #0E3667;
}