.fondo{
    background-color: #0E3667;
}

.fondo-claro{
    background-color: #f2fbff;
}

.footer{
    height: 120px;
}

#m{
    margin-top:120px;
    color:red;
}

#padding-imagen{
    padding-bottom: 10px;
}

.txt-color{
    color: #0E3667;
}

#txt-color, #titulo{
    color: #0E3667;
}

#txt-color:active{
    color:red;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #1FCEF1 !important;
}

.claro{
    background-color: #F2FBFF;
}

#mynav{
    color:red;
    margin-bottom: -92px;
    z-index: 999;
}

#enlaces{
    border-bottom: 2px solid transparent;
    border-radius:  0px;
}

#enlaces:hover{
    border-bottom: 2px solid #00E2D4;
}

/* #mynav a{
    border-bottom: 2px solid transparent;
    border-radius:  0px;
}

#mynav a:hover{
    border-bottom: 2px solid #00E2D4;
    
} */

/* #active a:hover{
    border-bottom: 2px solid #00E2D4;
} */

#buton-vision{
    padding-left: 18px;
    padding-right: 18px;
}

#buton-mision{
    padding-left: 18px;
    padding-right: 18px;
}

#txt-activo {
    color: #0E3667;
}

#arriba{
    background-color: red;
}

a #decoration-none:hover{
    border-bottom: 2px solid white;
}